<!DOCTYPE html>
<html lang="en" >
<head>

  <link rel="stylesheet" type="=text/css" href="{{ url_for('static', filename='style30.css') }}">
  <link rel="stylesheet" type="=text/css" href="{{ url_for('static', filename='drop9.css') }}">
  <meta charset="UTF-8">
  <title>Final IR</title>  

<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
<div id="json_wrap">
  <a href="" id="theButton">Click  to post request onto the server</a>
</div>















<div class="area" >
    <ul class="circles">
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
                     <li></li>
 </ul>
 <div id="wrap">
    <form action="" method="post" autocapitalize="on">

<div class="input text">{{ form.SearchQuery }}</div>
<div class="input submit">
<input type="submit" value="Submit"></div>
</form>
  </div>
  <div class="search-option">
      <div>
        <input name="type" type="radio" value="type-bool" id="type-bool">
        <label for="type-bool">
          <svg class="edit-pen-title">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bool"></use>
          </svg>
          <span>bool</span>
        </label>
      </div>
  
      <div>
        <input name="type" type="radio" value="type-vsm" id="type-vsm" checked="">
        <label for="type-vsm">
          <svg class="edit-pen-title">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vsm"></use>
          </svg>
          <span>vsm</span>
        </label>
      </div>
  </div>
  <div class="drop">
      <div class="option active placeholder" data-value="placeholder">
        Select The Text Model
      </div>
      <div class="option" data-value="fullText">
        Full Text
      </div>
      <div class="option" data-value="alteredText">
        Altered Text
      </div>
      <div class="option" data-value="stemmedText">
        Stemmed Text
      </div>
      <div class="option" data-value="stopWord">
        Stop Word Removal
      </div>
      <div class="option" data-value="normalized"> 
        Normalized Text 
      </div>
  </div>
 </div >





<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
  <symbol id="bool" viewbox="0 0 32 32">
    <path d="M 3 5 L 3 6 L 3 23 C 3 25.209804 4.7901961 27 7 27 L 25 27 C 27.209804 27 29 25.209804 29 23 L 29 13 L 29 12 L 28 12 L 23 12 L 23 6 L 23 5 L 22 5 L 4 5 L 3 5 z M 5 7 L 21 7 L 21 12 L 21 13 L 21 23 C 21 23.73015 21.221057 24.41091 21.5625 25 L 7 25 C 5.8098039 25 5 24.190196 5 23 L 5 7 z M 7 9 L 7 10 L 7 13 L 7 14 L 8 14 L 18 14 L 19 14 L 19 13 L 19 10 L 19 9 L 18 9 L 8 9 L 7 9 z M 9 11 L 17 11 L 17 12 L 9 12 L 9 11 z M 23 14 L 27 14 L 27 23 C 27 24.190196 26.190196 25 25 25 C 23.809804 25 23 24.190196 23 23 L 23 14 z M 7 15 L 7 17 L 12 17 L 12 15 L 7 15 z M 14 15 L 14 17 L 19 17 L 19 15 L 14 15 z M 7 18 L 7 20 L 12 20 L 12 18 L 7 18 z M 14 18 L 14 20 L 19 20 L 19 18 L 14 18 z M 7 21 L 7 23 L 12 23 L 12 21 L 7 21 z M 14 21 L 14 23 L 19 23 L 19 21 L 14 21 z" />
  </symbol>
  <symbol id="vsm" viewbox="0 0 32 32">
    <path d="M 4 4 L 4 5 L 4 27 L 4 28 L 5 28 L 27 28 L 28 28 L 28 27 L 28 5 L 28 4 L 27 4 L 5 4 L 4 4 z M 6 6 L 26 6 L 26 26 L 6 26 L 6 6 z M 16 8.40625 L 13.6875 13.59375 L 8 14.1875 L 12.3125 18 L 11.09375 23.59375 L 16 20.6875 L 20.90625 23.59375 L 19.6875 18 L 24 14.1875 L 18.3125 13.59375 L 16 8.40625 z M 16 13.3125 L 16.5 14.40625 L 17 15.5 L 18.1875 15.59375 L 19.40625 15.6875 L 18.5 16.5 L 17.59375 17.3125 L 17.8125 18.40625 L 18.09375 19.59375 L 17 19 L 16 18.40625 L 15 19 L 14 19.59375 L 14.3125 18.40625 L 14.5 17.3125 L 13.59375 16.5 L 12.6875 15.6875 L 13.90625 15.59375 L 15.09375 15.5 L 15.59375 14.40625 L 16 13.3125 z" />
  </symbol>
</svg>
<script  type="text/javascript" > </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='drop.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jscript27.js') }}"></script>
</body>
</html>
